.carrossel {
    background-color: #111617;

    h6 {
        color: #fff;
        font-size: clamp(20px,8vw,40px);
    }
    
    .card_carrossel {
        margin: 0 auto;
        max-width: 338px !important;
        img {
            border-radius: 16px;
            height: 250px;
            
            object-fit: cover;
        }

        border-radius: 16px;

        ul {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 3px solid #5f5f5f;
            border-top: none;
            border-radius: 0px 0px 16px 16px;
            li {
                color: #fff;
                font-size: 12px;
                font-weight: 400;
                font-family: "Open Sans";
            }
        }

      
    }

    .owl-nav {
        display: none;
    }

    .owl-dots {
        display: none;
    }
}