.section_7 {
    background-color: $background-primary;

    .container {
        &>h4 {
            font-family: 'Plus Jakarta Sans';
            font-weight: 800;
            font-size: 48px;
            font-size: 31px;
            line-height: 120%;
            letter-spacing: 0.02em;
            color: $primary-color-light;
        }

        &>p {
            font-family: 'Plus Jakarta Sans';
            font-weight: 800;
            font-size: 30px;
            line-height: 120%;
            text-align: center;
            letter-spacing: 0.02em;
            color: $white-fixed;
            max-width: 1072px;
        }

        .card_section_7 {
            max-width: 750px;
            width: 100%;
            height: 530px;
            height: 130px;
            cursor: pointer;

            img {
                height: 100px !important;
            }

            .speaker_name_section_7 {
                font-weight: 600;
                font-size: 20px;
                line-height: 150%;
                display: flex;
                align-items: center;
                letter-spacing: 0.04em;
                color: $primary-color-light;
                margin: 0;
                padding: 0;
            }

            .speaker_company_section_7,
            .speaker_profession_section_7 {
                font-family: 'Plus Jakarta Sans';
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                letter-spacing: 0.04em;
                color: $white-fixed;
                margin: 0;
                padding: 0;
            }


            .speaker_about_section_7 {
                margin: 0;
                padding: 0;
                font-family: 'Plus Jakarta Sans';
                font-weight: 400;
                font-size: 18px;
                line-height: 200%;
                color: $white-fixed;
            }

            &.ative {
                height: auto !important;

                img {
                    height: 160px !important;
                }

                &>div {
                    transform: translateY(-18px);
                }

                .speaker_about_section_7,
                .speaker_company_section_7,
                .speaker_profession_section_7 {
                    display: block !important;
                }
            }

            &:not(.ative) {
                .speaker_photo_section_7 {
                    align-items: center !important;
                }

                .speaker_photo_section_7 img {
                    transform: translateX(7px);
                }

                .card_content_section_7 {
                    justify-content: center !important;
                }
            }
        }

        @media (min-width:992px) {
            &>h4 {
                font-family: 'Plus Jakarta Sans';
                font-weight: 800;
                font-size: 40px;
                line-height: 120%;
                letter-spacing: 0.02em;
                color: $primary-color-light;
            }

            &>p {
                font-size: 40px;
                max-width: 907px;
            }

            .card_section_7 {
                min-height: 500px;

                &:not(.ative) {
                    width: 150px;
                    padding: 3rem 0 !important;

                    &>div {
                        flex-direction: column !important;
                        align-items: center;
                        justify-content: start;
                        height: 100%;
                    }

                    .speaker_name_section_7 {
                        writing-mode: vertical-rl;
                        color: $white-fixed;
                        font-family: 'Plus Jakarta Sans';
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 150%;
                        letter-spacing: 0.04em;
                        margin-top: 2rem !important;
                    }
                }
            }
        }

        @media (min-width:1400px) {
            &>p {
                font-size: 48px;
                max-width: 1023px;
            }
        }
    }
}

.only_50_invites_container {
    height: 130px;
    background: $primary-color-light;

    h6 {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 72px;
        font-size: clamp(25px, 5vw, 62px);
        // line-height: 87px; 
        text-transform: uppercase;
        color: $background-primary;
    }
}