.carrossel {
    background-color: $background-primary;

    h6 {
        font-size: clamp(20px,8vw,40px);
        font-family: 'Plus Jakarta Sans';
        font-weight: 800;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: $primary-color-light;
        text-transform: uppercase;
    }
    
    .card_carrossel {
        margin: 0 auto;
        max-width: 338px !important;
        img {
            border-radius: 8px 8px 0px 0px;
            height: 200px;
        }

        div:first-child{
            background-color: $white-fixed;
            border-radius: 16px 16px 0px 0px;
        }

        border-radius: 16px;

        ul {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 3px solid rgba(255, 255, 255, 0.2);
            border-top: none;
            border-radius: 0px 0px 8px 8px;
            li {
                color: $white-fixed;
                font-size: 11px;
                font-weight: 400;
                font-family: "Open Sans";
            }
        }

      
    }

    .owl-nav {
        display: none;
    }

    .owl-dots {
        display: none;
    }
}